<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">西山煤电</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;主营范围</h3>
        <ul>
            <li> 煤炭生产、洗选加工、电力生产及销售;</li>
            <li>矿山开发及设计施工;矿用电力器材生产、经营。</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;企业理念</h3>
        <ul>
            <li>以人为本、依法治企</li>
            <li>人是企业的主体，是生产力中最活跃的因素;规章制度、法律法规，是企业生产经营的准绳。企业发展进步，既需要员工积极性的充分施展和发挥，也需要规章制度、法律法规的约束和规范。

以人为本，充分尊重员工的积极性、创造性。将员工当作最可宝贵的资源来经营，激发每个人的潜力，释放每个人的能量，满足人的全面需要，促进人的全面发展;依法治企，根据企业管理创新、员工全面发展的要求，建立健全企业各项规章制度，将企业管理纳入制度化、法治化、人性化轨道。

以人为本，依法治企，是企业管理创新的出发点和落脚点，两者相辅相成，统一于企业改革、管理、调整的具体创新和实践中。</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;企业精神</h3>
        <ul>
            <li>  西山企业精神是"团结、奉献、求实、进取"。1994年江泽民同志视察西山时，亲笔题写了这种精神。

				团结、奉献、求实、进取的精神，是西山煤电集团广大员工精神风貌的具体体现，是西山发展壮大的精神动力。

				团结:班子团结，员工团结，企业上下团结。团结就是力量，团结就出战斗力，团结就无往而不胜。

			奉献:是国有煤炭企业的传统品格，是人生价值的最高境界;做强企业，奉献社会，造福员工，是企业的宗旨。

			求实:是科学的思维方式，也是科学的工作方法。求实，就要说实话、办实事、求实效;求实，就要求突破、求创新、求发展。

			进取:与时俱进，开拓进取，是时代的主旋律，是西山做强做大的必然要求。与时俱进，开拓进取，建设全国百强、行业领先、做强做大的"四跨"集团。与时俱进，开拓进取，争当爱岗敬业、诚实奉献、不甘落后的"四有"员工。
		</li>
           
        </ul>
       
        <h3>&nbsp;&nbsp;&nbsp;企业宗旨</h3>
        <ul>
            <li>  
             西山人是奉献的群体，西山的产品是造福社会的产品。西山人采撷地下之火，带给人间光明与温暖，用奉献造福社会。不断满足员工的全面需要，促进员工的全面发展，是企业的任务与天职;以更多更好的产品奉献社会、造福员工是企业的根本宗旨，也是"三个代表"重要思想的根本要求。西山将以更大的步伐、更快的发展、更强的实力，奉献社会，造福员工，实现自身的理想和价值。
 			</li>
        </ul>

	</div>
</div>
</body>
</html>